*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:
linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.75)),
url("background.jpg");

background-size:cover;
background-position:center;
background-attachment:fixed;

font-family:Poppins,sans-serif;

color:white;

min-height:100vh;

}

.overlay{

min-height:100vh;

}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:30px 80px;

}

.logo{

font-family:"Cinzel",serif;

font-size:42px;

color:#c8a24a;

letter-spacing:3px;

text-shadow:
0 0 10px rgba(200,162,74,.5);

}

nav a{

color:white;

text-decoration:none;

margin-left:35px;

font-size:18px;

transition:.3s;

}

nav a:hover{

color:#c8a24a;

}

.join{

padding:12px 26px;

border:1px solid #c8a24a;

border-radius:30px;

}

.hero{

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

height:80vh;

padding:20px;

}

.hero h1{

font-family:"Cinzel",serif;

font-size:70px;

color:#c8a24a;

margin-bottom:25px;

}

.hero p{

font-size:22px;

max-width:700px;

line-height:1.7;

margin-bottom:40px;

}

.button{

background:#c8a24a;

padding:18px 45px;

border-radius:40px;

color:black;

font-weight:bold;

text-decoration:none;

transition:.3s;

}

.button:hover{

background:#e6c56c;

transform:scale(1.05);

}

@media(max-width:900px){

header{

padding:25px;

flex-direction:column;

gap:20px;

}

.logo{

font-size:32px;

}

.hero h1{

font-size:42px;

}

.hero p{

font-size:18px;

}

}
